body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  border: none;
  background: #1877f2;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #145dbf;
  transform: scale(1.1);
  opacity: 0.8;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background: white;
  margin: 12px auto;
  padding: 15px;
  width: 320px;
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
  animation: slide 0.3s ease;
}

li:hover {
  transform: translateY(-3px);
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
  background: #d4edda;
}

.actions {
  display: flex;
  gap: 6px;
}

main {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 320px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #1877f2;
  margin-bottom: 20px;
}

#notification {
  font-weight: bold;
  margin: 10px;
  animation: fade 2s;
}

#progressContainer {
  width: 320px;
  height: 12px;
  background: #ddd;
  border-radius: 10px;
  margin: 10px auto;
}

#progressBar {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: #1877f2;
  transition: width 0.3s;
}

.category {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
  background: #1877f2;
  color: white;
  font-size: 12px;
}

.dark {
  background: #1e1e1e;
  color: white;
}

.dark li {
  background: #2d2d2d;
}

.dark h1 {
  color: white;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {

  body {
    margin-top: 20px;
    padding: 10px;
  }

  input,
  select,
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  li {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .actions {
    justify-content: center;
  }

  #progressContainer {
    width: 100%;
  }
}